<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>BraveCall Contact</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="../static/assets/css/main.css" rel="stylesheet">

</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
          
            <h1 class="sitename">BraveCall</h1>
          </a>
    
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="{% url 'index' %}" class="active">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'features' %}">Features</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'faq' %}">FAQ</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
          <a class="btn-getstarted" href="{% url 'login' %}">Login</a>
    
        </div>
      </header>
<main class="main">
<section id="contact" class="contact section light-background">

    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-4 g-lg-5">
        <div class="col-lg-5">
          <div class="info-box" data-aos="fade-up" data-aos-delay="200">
            <h3>Contact Info</h3>
            <p>Get in touch with us for support, inquiries, or partnerships. We're here to help.</p>
            
            <div class="info-item" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="content">
                <h4>Our Location</h4>
                <p>Taguig City</p>
              </div>
            </div>

            <div class="info-item" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="content">
                <h4>Phone Number</h4>
                <p>+123-456-7890</p>
              </div>
            </div>

            <div class="info-item" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="content">
                <h4>Email Address</h4>
                <p>bravecall@gmail.com</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
            <h3>Get In Touch</h3>
            <p>Contact us for assistance, questions, or collaboration opportunities. We're happy to connect with you.</p>            

            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit" class="btn">Send Message</button>
                </div>

              </div>
            </form>

          </div>
        </div>

      </div>

    </div>

  </section>
</main>
<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <span class="sitename">BraveCall</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Taguig City</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+123-456-7890</span></p>
            <p><strong>Email:</strong> <span>bravecall@gmail.com</span></p>
          </div>

        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Navigation</h4>
          <ul>
            <li><a href="{% url 'index' %}" class="active">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'features' %}">Features</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Report</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>

          </ul>
        </div>

        
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">BraveCall</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <script src="../static/assets/js/main.js"></script>
</body>
</html>