<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BraveCall - Login</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <div class="p-5">
                                <img src="../static/assets/img/illustration-1.webp" alt="Hero Image" class="img-fluid">  
                                <hr>
                                    <div class="text-center">
                                        <a>BraveCall</a>
                                    </div>
                                    <div class="text-center">
                                        <a>You are safe with us.</a>
                                    </div> 
                                </div>                       
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    {% if messages %}
                                    <div class="alert-container">
                                        {% for message in messages %}
                                            {% if 'registration' in message|lower or 'login' in message|lower or 'logout' in message|lower %}
                                                <div class="alert 
                                                    {% if message.tags == 'success' %}alert-success
                                                    {% elif message.tags == 'error' %}alert-danger
                                                    {% elif message.tags == 'warning' %}alert-warning
                                                    {% elif message.tags == 'info' %}alert-info
                                                    {% endif %}
                                                    alert-dismissible fade show" role="alert">
                                                    <i class="fas 
                                                        {% if message.tags == 'success' %}fa-check-circle
                                                        {% elif message.tags == 'error' %}fa-times-circle
                                                        {% elif message.tags == 'warning' %}fa-exclamation-triangle
                                                        {% elif message.tags == 'info' %}fa-info-circle
                                                        {% endif %}
                                                        "></i>
                                                    {{ message }}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                
                                
                                    <form class="user"  method="post" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                name="email" aria-describedby="emailHelp"
                                                placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                name="password" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                        <hr>
                                        <div id="g_id_onload"
                                            data-client_id="887022172380-7grs8vaqv2itpiccscc2q097lj7ofvh7.apps.googleusercontent.com"
                                            data-context="signin"
                                            data-ux_mode="popup"
                                            data-login_uri="http://localhost:8000/google-auth/"
                                            data-auto_prompt="false">
                                        </div>

                                        <div class="g_id_signin"
                                            data-type="standard"
                                            data-shape="pill"
                                            data-theme="filled_black"
                                            data-text="continue_with"
                                            data-size="large"
                                            data-logo_alignment="left">
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/sb-admin-2.min.js"></script>
</body>
</html>